[Unit]
Description=EVM Gateway running with Docker
Requires=docker.service
After=network-online.target docker.service

[Install]
Alias=evm-gateway.service
WantedBy=default.target

[Service]
Type=simple
TimeoutStopSec=1m

RestartSec=5s
Restart=always

StandardOutput=journal

EnvironmentFile=/etc/flow/runtime-conf.env
EnvironmentFile=-/etc/flow/conf.d/*.env

ExecStartPre=docker pull us-west1-docker.pkg.dev/dl-flow-devex-production/development/flow-evm-gateway:${VERSION}
ExecStart=docker run --rm \
	--name flow-evm-gateway \
	us-west1-docker.pkg.dev/dl-flow-devex-production/development/flow-evm-gateway:${VERSION} \
    --database-dir=/data \
    --access-node-grpc-host=${ACCESS_NODE_GRPC_HOST} \
    --flow-network-id=${FLOW_NETWORK_ID} \
    --init-cadence-height=${INIT_CADENCE_HEIGHT} \
    --coinbase=${COINBASE} \
    --coa-address=${COA_ADDRESS} \
    --coa-key=${COA_KEY} \
    --access-node-spork-hosts=${ACCESS_NODE_SPORK_HOSTS} \
    --ws-enabled=true \
    --rate-limit=9999999 \
    --rpc-host=0.0.0.0 \
    --log-level=error