name: "Build & Push EVM Gateway Image to Public Repo"

on:
  push:
    tags:
      - '*'

env:
  DOCKER_IMAGE_URL: ${{ vars.REPO_DOCKER_IMAGE_URL }}:${{ github.sha }}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Google auth
        id: auth
        uses: google-github-actions/auth@v2
        with:
          token_format: 'access_token'
          workload_identity_provider: ${{ vars.GHA_IDENTITY_POOL }}
          service_account: ${{ vars.REPO_SERVICE_ACCOUNT }}
      
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v1
        with:
          project_id: ${{ vars.GAR_PROJECT_ID }}
      
      - name: Docker Auth
        run: |-
          gcloud auth configure-docker ${{ vars.GAR_LOCATION }}-docker.pkg.dev
          docker build -t ${{ env.DOCKER_IMAGE_URL }} --build-arg GATEWAY_VERSION="v0.25.0" --file Dockerfile .
          docker push ${{ env.DOCKER_IMAGE_URL }}
